{% extends "base.html" %}

{% block title %} Agendar Cita {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Agendar Nueva Cita</h2>
    <form action="/citas/save" method="POST">
        <div class="mb-3">
            <label for="motivo" class="form-label">Motivo</label>
            <input type="text" class="form-control" id="motivo" name="motivo" required>
        </div>
        
        <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea class="form-control" id="observaciones" name="observaciones" rows="3"></textarea>
        </div>
        
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required>
        </div>
        
        <div class="mb-3">
            <label for="hora" class="form-label">Hora</label>
            <input type="time" class="form-control" id="hora" name="hora" required>
        </div>
        
        
        <div class="mb-3">
            <label for="iden_odontologo" class="form-label">Seleccionar Odontologo</label>
            <select class="form-control" id="iden_odontologo" name="iden_odontologo" required>
                {% for odontologo in personas %}
                    <option value="{{ odontologo.identificacion }}">{{ odontologo.nombres }} {{ odontologo.apellidos }} ({{ odontologo.codigo_licencia }})</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar Cita</button>
    </form>
</div>
{% endblock %}
